[core]
	autocrlf = false
	editor = /usr/bin/vim

[alias]
	amend = git commit --amend
	df = diff --no-ext-diff
	dfx = diff --ext-diff
	dag = log --oneline --graph --decorate --all --date-order 
	
[push]
	default = simple

[diff]
	tool = vimdiff
	prompt = false

[merge]
	tool = vimdiff
	conflictstyle = diff3
	prompt = false
	keepBackup = false

[include]
	path = .gitconfig.local
